<header class="header">
  <div class="header__logo">
    <a class="logo" href="#"
      ><img src="../images/hero-header/logo x1.png" alt="Logo of the company" width="199"
    /></a>
  </div>

  <nav class="navigation">
    <ul class="navigation__list">
      <li>
        <a href="./index.html" class="navigation__item">Home</a>
      </li>
      <li>
        <a href="#abaut" class="navigation__item">About us</a>
      </li>
      <li>
        <a href="#howitsmade" class="navigation__item">How it’s made?</a>
      </li>
      <li>
        <a href="#products" class="navigation__item">Our products</a>
      </li>
      <li>
        <a href="#contact" class="navigation__item">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="button">
    <button type="button" class="button_order">Buy now ></button>
  </div>
  <div>ice cream made with passion</div>
  <div>
    <button type="button">Products ></button>
  </div>
  <div><button type="button">How its's made? ></button></div>

  <div>
    <img src="../images/hero-header/header-milk x1.png" alt="Bottle of milk" />
  </div>
  <div>
    <img src="../images/hero-header/header-icecream x1.png" alt="Colorfull icecream in the cone" />
    <div>23</div>
    <div>16</div>
    <div>
      <img
        src="../images/hero-header/header-girl x1.png"
        alt="Happy girl in bikini eating icecream"
      />
    </div>
  </div>
  >
</header>
